<h1><%- title %></h1>

<form id="loginForm" action="/account/login" method="post">
    <label for="account_email">Email: </label><br>
    <input type="text" id="email" name="account_email" required placeholder="Enter a valid email address"><br>
    <label for="account_password">Password: </label><br>
    <input type="text" id="password" name="account_password" required>
    <button>Show Password</button>
    <button>Login</button>
</form>
<p>No account? <a href="/account/register">Sign-up</a></p>
