
<h1>Welcome to CSE Motors!</h1>
<%- messages() %>

<div class="DMC">
    <div class="delorean_list">
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice</li>
        </ul>

        <div class="own_today_img">
            <img src="/images/site/own_today.png" alt="Own Today!">
        </div>
    </div>

    <div class="hero_image">
        <img src="/images/vehicles/delorean.jpg" alt="delorean image">
    </div>

</div>

    <div class="section2_headers">
        <h2>Delorean Upgrades</h2>
        <h2>DMC Delorean Reviews</h2>
    </div>

    <div class="section2">
        <div class="Delorean_Upgrades">
            <ul>
                <li>
                    <div class="image">
                        <img src="/images/upgrades/flux-cap.png" alt="picture of flux capacitor">
                    </div>
                    <a href="#">Flux Capacitor</a>
                </li>
                <li>
                    <div class="image">
                        <img src="/images/upgrades/flame.jpg" alt="picture of flame decals">
                    </div>
                    <a href="#">Flame Decals</a>
                </li>
                <li>
                    <div class="image">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="picture of bumper stickers">
                    </div>
                    <a href="#">Bumper Stickers</a>
                </li>
                <li>
                    <div class="image">
                        <img src="/images/upgrades/hub-cap.jpg" alt="picture of hub caps">
                    </div>
                    <a href="#">Hub Caps</a>
                </li>
            </ul>
        </div>
        <div class="DMC_Delorean_Reviews">
            <ul>
                <li>"So fast it's almost like traveling in time" (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
