@media(max-width: 700px){

    /******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* design of the entire body portion of the website*/

body{
    background:
    linear-gradient(45deg, #8661c1 10%, transparent 10%) -5px -5px/20px 20px,
    linear-gradient(45deg, #8661c1 10%, transparent 10%) -5px 0/20px 20px,
    linear-gradient(45deg, transparent 90%, #8661c1 90%) -5px -5px/20px 20px,
    linear-gradient(45deg, transparent 90%, #8661c1 90%) 0 -5px/20px 20px;
  background-color: #FCFBF4;
}

#wrapper{
  width: 80%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 2px solid #2E294E; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  background-color: #FCFBF4; 
}
/* Header design (above nav bar)*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav bar design */

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #2E294E;
  color: #FCFBF4;
}

/* nav bar alignment and colors, as well as hover design*/
nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
}

nav ul li:hover{
  background-color: #8661c1;
  color: #FCFBF4;
}

/* Design for the Home page header */
.mainPageHeader{
  text-align: center;
}

/* Hero Image and Description Design*/

.heroHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.heroImageDescription{
  margin: auto;
  position: absolute;
  height: 100%;
  width: auto;
  display: block;
  padding: 5px;
  margin-right: 70%;
  background-color: rgba(252, 251, 244, 0.5);

}

.heroImageDescription h2{
  text-align: center;
}

.heroImageDescription button{
  width: 100%;
  padding: 2spx;
  text-align: center;
  border-radius: 25px;
  background-color: #2E294E;
  color: #FCFBF4;
  transition: background-color 0.5s ease;
}

.heroImageDescription button:hover{
  background-color: #8661c1;
}


/* Design for the Delorean Upgrades section*/


.deloreanUpgrades h2{
  width: 100%;
  text-align: center;
}

.deloreanUpgrades ul{
    display: block;
  list-style: none;
  width: 100%;
}

.deloreanUpgrades ul li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2E294E;
    margin-top: 5%;
}

.deloreanUpgrades ul li img{
    text-align: center;
    margin-left: 5%;
}

.deloreanUpgrades ul li a{
  color: #FCFBF4;
  margin-bottom: 10%;
  text-decoration: none;
  margin-right: 10%;
}

.deloreanUpgrades ul li a:hover{
  color: #EFBCD5;
}


/* DMC Delorean Reviews seciton*/

.dmcDeloreanReviews{
  display: block;
  height: 350px;
  margin-left: 5%;
}

.dmcDeloreanReviews h2{
  text-align: center;
}
}