@media(min-width: 700px)
{

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* design of the entire body portion of the website*/

body{
  background:
    linear-gradient(45deg, #8661c1 25%, transparent 25%) -50px -50px/100px 100px,
    linear-gradient(45deg, #8661c1 25%, transparent 25%) -50px 0/100px 100px,
    linear-gradient(45deg, transparent 75%, #8661c1 75%) -50px -50px/100px 100px,
    linear-gradient(45deg, transparent 75%, #8661c1 75%) 0 -50px/100px 100px;
  background-color: #FCFBF4;
}

#wrapper{
  width: 80%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 2px solid #2E294E; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  background-color: #FCFBF4; 
}
/* Header design (above nav bar)*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .siteName{
  text-decoration: none;
}

/* Nav bar design */

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #2E294E;
  color: #FCFBF4;
  height: 75px;
  font-size: 1.5rem;
}

/* nav bar alignment and colors, as well as hover design*/
nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
}

nav ul li:hover{
  background-color: #8661c1;
  color: #FCFBF4;
}

/* Design for the Home page header */
.mainPageHeader{
  text-align: center;
}

/* Hero Image and Description Design*/

.heroHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroImageDescription{
  margin: auto;
  position: absolute;
  height: 100%;
  width: 250px;
  display: block;
  padding: 5px;
  margin-right: 40%;
  background-color: rgba(252, 251, 244, 0.5);
}

.heroImageDescription h2{
  text-align: center;
}

.heroImageDescription button{
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background-color: #2E294E;
  color: #FCFBF4;
  transition: background-color 0.5s ease;
}

.heroImageDescription button:hover{
  background-color: #8661c1;
}


.heroImage{
  position: absolute;
}

/* Aligning Delorean Upgrades and Reviews together*/

.upgradesAndReviews{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* Design for the Delorean Upgrades section*/

.deloreanUpgrades{
  display: block;
  width: 550px;
}

.deloreanUpgrades h2{
  width: 100%;
  text-align: center;
}

.deloreanUpgrades ul{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10%;
  grid-column-gap: 10%;
  list-style: none;
  position: relative;
}

.deloreanUpgrades ul li{
  width: auto;
  text-align: center;
  background-color: #2E294E;
  padding: 5px;
  position: relative;
  margin-right: 15%;
}

.deloreanUpgrades ul li img{
  background-color: #2E294E;
  border-radius: 50%;
  width: 100%;
  margin-bottom: 10%;
}

.deloreanUpgrades ul li a{
  color: #FCFBF4;
  margin-bottom: 10%;
  text-decoration: none;
}

.deloreanUpgrades ul li a:hover{
  color: #EFBCD5;
}


/* DMC Delorean Reviews seciton*/

.dmcDeloreanReviews{
  display: block;
  height: 350px;
  margin-left: 5%;
}

.dmcDeloreanReviews h2{
  text-align: center;
}

/* ------------------------------------------------------------------------------ */

/* Car Description Design */

.inv-detail-view{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

}