<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>


<div className="addInventoryView">
    <form id="inventoryForm" action="/inventory/add-inventory" method="post">
        <label for="inv_make">Make: 
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_model">Model:
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_year"> Year: 
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_description"> Description:
        <input type="textArea" id="inv_make" name="inv-make">

        <label for="inv_image">Image URL:
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_thumbnail">Thumbnail URL: 
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_price">Price: 
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_miles">Miles: 
        <input type="text" id="inv_make" name="inv-make">

        <label for="inv_color">Color: 
        <input type="text" id="inv_make" name="inv-make">

        <input type="submit" id="inventorySubmitButton" title="Submit">
    </form>
</div>