<div className="managementView">
    <h1>Inventory Management</h1>
    <p>Please Click on one of the links below to adjust information</p>
    <ul>
        <li><a href="#">Add New Classification</a></li>
        <li><a href="#">Add New Inventory</a></li>
    </ul>
</div>